In [1]:
import pandas as pd
from time import time
import datetime

In [2]:
file_path = "../data/phone data/dat_cumulative.csv"
data1 = pd.read_csv(file_path)

In [3]:
data1.head()

       time     gFx     gFy     gFz   TgF
0  0.001792 -0.3123  0.3785  0.5790  0.76
1  0.001955 -0.3123  0.3785  0.5790  0.76
2  0.009959 -0.2654  0.3756  0.6433  0.79
3  0.019970 -0.2021  0.3611  0.7366  0.84
4  0.030388 -0.1320  0.3509  0.7935  0.88

In [4]:
data1.time = data1.time.round(5)

In [5]:
data1.head()

      time     gFx     gFy     gFz   TgF
0  0.00179 -0.3123  0.3785  0.5790  0.76
1  0.00196 -0.3123  0.3785  0.5790  0.76
2  0.00996 -0.2654  0.3756  0.6433  0.79
3  0.01997 -0.2021  0.3611  0.7366  0.84
4  0.03039 -0.1320  0.3509  0.7935  0.88

In [6]:
data1.to_csv(file_path.split('.csv')[0]+'_rounded.csv', index_label = 'ID')

In [7]:
data1['TS'] = data1.time.apply(lambda x: datetime.datetime(2022, 4, 20) + datetime.timedelta(milliseconds = x*1000))

In [8]:
data1.to_csv(file_path.split('.csv')[0]+'_rounded_tstamp.csv', index_label = 'ID')